!!! 5
%html
  %head
    %meta(charset="utf-8")
    -# Use title if it's in the page YAML frontmatter
    %title<
      = current_page.data.title || "8bittree.net"
    = stylesheet_link_tag "normalize"
    %link(href="http://fonts.googleapis.com/css?family=Della+Respira|Raleway" rel="stylesheet" type="text/css")
    = stylesheet_link_tag "base", "page"
  %body
    .container
      = partial "layouts/header"
      = yield
